@tailwind base;
@tailwind components;
@tailwind utilities;

.elsie-regular {
    font-family: "Elsie", serif;
  }

  .dancing {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
  }